/* Global Networks */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Top-level wrappers */
.LUI-container-wrapper{
    padding: 5px 20px;
    box-sizing: border-box;
}
.LUI-card-shadow{
    box-shadow: 0 0 2px 2px white;
    border-radius: 3px;
    padding: 5px;
}
.LUI-bg-dark > .LUI-card-shadow{
    box-shadow: 0 0 2px 2px #1f1f1f;
}
.LUI-row{
    flex: auto;
    display: flex;
    width: 100%;    
}
.LUI-column-1{
    width: 100%;
    margin: 4px;
}
.LUI-column-2{
    width: 50%;
    margin: 4px;
}
.LUI-column-3{
    width: 33%;
    margin: 4px;
}
.LUI-column-4{
    width: 25%;
    margin: 4px;
}
.LUI-column-5{
    width: 20%;
    margin: 4px;
}
/* For top level Use */
.LUI-light-theme{
    color: slateblue;
    background-color: lavenderblush;
}
/* Colors */
.LUI-light{
    color: #212121;
}
.LUI-dark{
    color: whitesmoke;
}
.LUI-bg-dark{
    background-color: #313131;
}
.LUI-bg-light{
    background-color: whitesmoke;
}
.LUI-primary{
    color: rgb(103, 84, 221);
}
.LUI-secondary{
    color: grey;
}
.LUI-success{
    color: rgb(46, 124, 46);
}
.LUI-btn-primary{
    color: whitesmoke;
    background-color: rgb(103, 84, 221);
}
.LUI-btn-secondary{
    color: whitesmoke;
    background-color: grey;
}
.LUI-btn-success{
    color: whitesmoke;
    background-color: rgb(46, 124, 46);
}
/* Buttons */
.LUI-btn{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: box-shadow 0.5s;
}
.LUI-btn-primary:active, .LUI-btn-primary:visited{
    background-color: rgb(83, 63, 211);
    box-shadow: 0px 0px 2px 2px whitesmoke;
}
.LUI-btn-secondary:active, .LUI-btn-secondary:visited{
    background-color: rgb(134, 125, 125);
    box-shadow: 0px 0px 2px 2px rgb(51, 49, 49);
}
.LUI-btn-success:active, .LUI-btn-success:visited{
    background-color: rgb(54, 141, 54);
    box-shadow: 0px 0px 2px 2px rgb(33, 102, 33);
}
/* Typography */
.h1{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.h2{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.h3{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.h5{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.h6{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
}
.bold{
    font-weight: bolder;
}
.italics{
    font-style: italic;
}
/* anchors */
.LUI-anchor{
    padding: 4px;
    text-decoration: none;
    text-transform: capitalize;
    color: #212121;
    font-size: 18px;
}
.LUI-dark  .LUI-anchor{
    color: whitesmoke;
}
.LUI-anchor-default{
    color: slateblue;
}
.LUI-anchor-upper{
    text-transform: uppercase;
}
.LUI-anchor:hover{
    color: dodgerblue;
}
.LUI-anchor-bb-animate::after{
    content: '';
    width: 0;
    transition: width .3s;
    height: 2px;
    display: block;
    background-color: #212121;
}
.LUI-dark  .LUI-anchor-bb-animate::after{
    background-color: whitesmoke;
}
.LUI-anchor-bb-animate:hover::after{
    width: 100%;
}
/* Nav thing */
.LUI-navbar{
    box-shadow: 0 0 2px 4px #1f1f1f;
    width: 100%;
    display: flex;
    height: 70px;
}
.LUI-navbar > a {
    flex-grow: 1;
}
.app-brand{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    padding: 18px;
    text-decoration: none;
    text-transform: capitalize;
    color: #212121;
}
.LUI-bg-dark > .app-brand{
    color: whitesmoke;
}
.LUI-nav{
    padding: 10px 20px;
    float: right;
}
.LUI-nav > ul {
    list-style-type: none;
    padding: 5px;
}
.LUI-nav ul li{
    float: left;
    padding: 10px;
}
.LUI-nav ul li a{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}


/* Forms */
.LUI-forms-body{
    padding: 10px;
    box-shadow: 0 0 2px 2px lavender;
    border-radius: 4px;
    width: fit-content;
}
.LUI-forms-body h2{
    padding: 5px;
}
.LUI-form-member-wrapper{
    padding: 10px;
}
.LUI-form-member-wrapper label{
    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
}
.LUI-form-member-wrapper input{
    margin: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
}
